fastapi
uvicorn
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
pypdf
python-multipart
requests
python-dotenv
numpy<2.0
torch==2.4.0
sentence-transformers==2.7.0
transformers==4.40.0